In [2]:
import pandas as pd
import pymongo
import numpy as np

In [7]:
from pymongo import MongoClient

client = MongoClient("mongodb://localhost:27017/")
db = client["Student_Performance_Database"]
collection = db["Student_Performance_Collection"]

In [8]:
data = list(collection.find())
df=pd.DataFrame(data)
print(df.head)

<bound method NDFrame.head of                         _id            name  attendance  study_hours  \
0  698afa2c760f0cba3acad6bd            Aman          80            5
1  698afa2c760f0cba3acad6be  Karamjass Kaur          85            6
2  698afa2c760f0cba3acad6bf   Gurpreet Kaur          65            7
3  698afa2c760f0cba3acad6c0     Simran Kaur          90            8
4  698afa2c760f0cba3acad6c1   Harpreet Kaur          70            4

   internal_marks  result
0              70       1
1              95       1
2              65       2
3              85       1
4              75       2  >

In [10]:
print(df.head(5))

                        _id            name  attendance  study_hours  \
0  698afa2c760f0cba3acad6bd            Aman          80            5
1  698afa2c760f0cba3acad6be  Karamjass Kaur          85            6
2  698afa2c760f0cba3acad6bf   Gurpreet Kaur          65            7
3  698afa2c760f0cba3acad6c0     Simran Kaur          90            8
4  698afa2c760f0cba3acad6c1   Harpreet Kaur          70            4

   internal_marks  result
0              70       1
1              95       1
2              65       2
3              85       1
4              75       2

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   _id             5 non-null      object
 1   name            5 non-null      object
 2   attendance      5 non-null      int64
 3   study_hours     5 non-null      int64
 4   internal_marks  5 non-null      int64
 5   result          5 non-null      int64
dtypes: int64(4), object(2)
memory usage: 372.0+ bytes

In [13]:
df.shape

(5, 6)

In [14]:
#Data preprocessing
df = df.dropna()  # Remove rows with missing values

In [15]:
df.drop(["_id","name"], axis=1, inplace=True)

In [16]:
df.head()

   attendance  study_hours  internal_marks  result
0          80            5              70       1
1          85            6              95       1
2          65            7              65       2
3          90            8              85       1
4          70            4              75       2

In [ ]:
x=df.drop(", axis=1)